.service {
  background-color: #fff;
  &__list {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
  }
  &__item {
    width: calc(33.33% - 4rem);
    text-align: center;
    span {
      width: 12rem;
      height: 12rem;
      display: inline-block;
      padding: 3.5rem;
      border-radius: 50%;
      background-color: #fed136;
      position: relative;
      margin-bottom: 2.5rem;
    }
  }
  &__item-icon {
    font-size: 3.5rem;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__item-name {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 2.5rem;
  }
  &__item-desc {
    color: #5d5f61;
    line-height: 1.4;
    font-size: 2rem;
  }
  @media screen and (max-width: 1023px) {
  }
}
